/*Estilo pagina inteira*/
body{
    background-color: #101310;
}
.interface{
    max-width: 1280px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
 font-weight: 600;
 background-color: #05ad40;
 color: #fff;
 border: 0;
 border-radius: 30px;
 cursor: pointer;
  font-family: "Poppins", sans-serif;
}
.btn-contato button:hover{
    box-shadow: 0px 0px 8px #014619;}

/*Estilo do topo do site*/
section.topo-do-site{
    padding: 40px 4%;

}
section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}
.topo-do-site h1{
color: #ffffff;
font-size: 42px;
line-height: 40px;
font-family: "Poppins", sans-serif;
font-weight: 42px;
font-style: normal;
}
.topo-do-site .txt-topo-site h1 span{
    color: #05ad40;
}
.topo-do-site .txt-topo-site p{
     margin: 40px 0;

        font-family: "Poppins", sans-serif;
        font-weight: 30px;
        font-style: normal;
        color: #ffffff;
        
}
.topo-do-site .img-topo-do-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}
@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
  top: 30px;
    }
}
/*Estilo especialidade*/
section.especialidades{
   padding: 40px 4%; 
}
h2.titulo{
    color: #ffffff;
    font-size: 42px;
    font-family: "Poppins", sans-serif;
font-weight: 42px;
font-style: normal;
text-align: center;
}
section.especialidades .flex{
gap: 60px;
}
h2.titulo span{
    color: #05ad40;
}
.especialidades .especialidades-box{
    color: #ffffff;
    padding: 40px;
    font-family: "Poppins", sans-serif;
    border-radius: 20px;
    border: 2px solid #ffffff;
    margin-top: 25px;
    transition: .2s;
}
.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff69;
}
.especialidades .especialidades-box i{
    font-size: 70px;
    font-family: "Poppins", sans-serif;
    color: #05ad40;
}
.especialidades .especialidades-box p{
    font-size: 16px;
}
.especialidades .especialidades-box h3{
    font-size:32px ;
    margin: 15px 0;
}

@media screen and (max-width:1020px){
    /*classe gerais*/
   .flex{
    flex-direction: column;
   }
    /*cabecalho*/
    .menu-desktop, .btn-contato{
        display: none;
    }
    section.topo-do-site{
        padding: 42px 8%;}
        .topo-do-site h1{
       
            font-size: 30px;
            }
        .topo-do-site .img-topo-do-site img{
           width: 100%;}
           /*Estilo especialidade*/
section.especialidades{
    padding: 40px 8%; 
}
}