body{
    background-color: #101310;
}
#map {
    height: 85vh;
    width: 80%;
    margin: 0 auto;
    border-radius: 50px;
}

main{
    margin-bottom: 10px;
}

.gm-style iframe, .gm-style div, .gm-style {
    outline: none;
    border: none !important;
}

.gm-style iframe:focus, .gm-style div:focus, .gm-style:focus {
    outline: none;
    border: none !important;
}

#infoPosto > *{
    margin-bottom: 6px;
}

#nomePosto{
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 8px;
}

#endereço, #telefone, #avaliacao{
    font-size: 1.05em;
}

#botaorota{
    margin-top: 7px;
    border: 0;
    border-radius: 30px;
    padding: 8px;
    width: 32vw;
    background-color: #05ad40;
    color: #fff;
    font-weight: 500;
    font-size: 1.1em;
    cursor: pointer;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

#botaorota:hover{
    box-shadow: inset 32vw 0 0 0 #024219;
}

.botaorota{
    width: max-content;
    margin: 0 auto;
}

@media (min-width: 1377px) {
    #botaorota{
        width: 25vw;
    }
}

@media (min-width: 375px) and (max-width: 991px) {
    #botaorota{
        width: 40vw;
    }
}

@media (max-width: 991px) {
    #map {
        width: 90vw;
    }
}