body {
    background-color: #101310;
    color: #fff;
}

main {
    width: fit-content;
    max-width: 1500px;
    margin: 0 auto;
    background-color: #202020;
    padding: 20px;
    border-radius: 10px;
    padding: 10px 2%;
    margin-bottom: 10px;
}

#posto-detalhes-container{
    text-align: center;
}

.posto-detalhes p{
    text-align: start;
    font-size: 0.95em;
    background-color: #333;
    background-color: #333;
    padding: 8px;
    border-radius: 5px;
}

#nome-posto {
    text-align: center;
    font-size: 1.5em;
    margin-top: 10px;
}

#posto-cabecalho{
    text-align: center;
    margin-bottom: 30px;
}

#postoimg {
    width: 700px;
    height: 350px;
    margin: 0 auto;
    margin-bottom: 8px;
    border-radius: 10px;
}

@media (max-width: 1230px) {
    main {
        width: fit-content;
        margin: 0 25px;
    }
}

@media (max-width: 950px) {
    main {
        width: 90vw;
    }

    #postoimg {
        width: 80vw;
        height: 30vh;
    }
}

#rota, #redirectToReviews {
    border: 0;
    border-radius: 4px;
    padding: 8px 20px;
    background-color: #05ad40;
    color: #fff;
    font-weight: 500;
    font-size: 1em;
    cursor: pointer;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.3s;
}

#addComment{
    border: 0;
    border-radius: 4px;
    padding: 3px 10px;
    background-color: #05ad40;
    color: #fff;
    cursor: pointer;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.3s;
}

#rota:hover, #redirectToReviews:hover, #addComment:hover {
    box-shadow: inset 200px 0 0 0 #024219;
    background-color: #024219;
    color: #fff;
}

#botao {
    text-align: end;
}

.rating {
    direction: rtl;
    display: inline-block;
    font-size: 0.9em;
    margin-right: 10px;
}

.rating>.star {
    font-size: 2em;
    cursor: pointer;
    color: lightgray;
}

.rating>.star:hover,
.rating>.star:hover~.star,
.rating>.star.selected {
    color: gold;
}

.comment {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
    max-width: 700px;
}

.comment .comment-user {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.comment .comment-user img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.comment .comment-timestamp {
    font-size: 0.8em;
    color: gray;
    margin-right: 5px;
}

.comment .comment-text {
    margin-top: 5px;
    font-size: 0.8em;
    margin-bottom: 0;
}

.comment .delete-comment {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: red;
}

textarea{
    background-color: #101310;
    color: #fff;
    border: 0;
    resize: none;
    width: 700px;
}

textarea:focus {
    outline: 1px solid #ccc;
}

#comentario{
    text-align: end;
    margin-bottom: 10px;
}

#avaliacoes{
    margin-bottom: 15px;
}

#avaliacoes h3{
    text-align: center;
}

@media (min-width: 1260px){
    #avaliacoes{
        min-height: 470px;
    }
}

@media (max-width: 815px){
    textarea{
        width: 85vw;
    }
}
