body {
  background-color: #101310;
  color: white;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  padding: 20px 4%;
  font-family: "Poppins", sans-serif;
}

.sessao-perfil {
  max-width: 700px;
  margin: 0 auto;
  background-color: #202020;
  padding: 20px;
  border-radius: 10px;
  color: #05ad40;
}

.sessao-perfil h2 {
  text-align: center;
  margin-bottom: 20px;
}

.info-perfil .form-group {
  margin-bottom: 15px;
}

.info-perfil label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

.info-perfil p {
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.info-perfil img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 10px auto;
  background-color: white;
}

.oculto {
  display: none;
}

#user-usuario, #nome-usuario, #email-usuario, #senha-usuario, #foto-perfil {
  color: #fffdfd;
}

input[type="file"] {
  display: none;
}

#perfil-active{
  background-color: #024219;
  color: #fff;
}

#nova-foto{
  cursor: pointer;
  margin-left: 5px;
}

#editar-dados, #logout, #salvarAlteracoes{
  border: 0;
  border-radius: 4px;
  text-align: end;
  padding: 8px 20px;
  background-color: #05ad40;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
  cursor: pointer;
  margin: 10px 0;
  transition: background-color 0.3s, transform 0.3s;
}

#editar-dados:hover, #logout:hover, #salvarAlteracoes:hover{
  box-shadow: inset 400px 0 0 0 #024219;
  background-color: #024219;
  color: #fff;
}

#inputsEdicao input{
  background-color: #333;
  border: 0;
  color: #fff;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 5px;
}