/* INICIO NAVBAR */

header{
    height: 100px;
}

.navbar{
    background-color: #05ad40;
    min-height: 70px;
    max-height: 70px;
}

.nav-link{
    color: #ffffff;
    font-weight: 500;
    font-size: 1em;
}

.navbar-nav{
    gap: 40px;
}

.navbar-brand img {
    width: 160px;
    height: auto;
    margin-left: 15px;
    transition: transform 0.2s ease-in;
}

.navbar-brand img:hover{
    transform: scale(1.07);
}

.navbar-toggler{
    border: none;
}

.navbar-toggler-icon {
    font-size: 18px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.offcanvas{
    background-color: #05ad40;
}

.offcanvas-header img{
    width: 150px;
}

.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}

.nav-link:hover, .nav-item > .nav-link.active{
    color: #024219;
}

.perfil-usuario {
    border: 0;
    border-radius: 30px;
    margin: 5.8px 20px 5.8px 0;
    padding: 6px 20px;
    background-color: #ffffff;
    color: #024219;
    font-weight: 500;
    font-size: 1em;
    cursor: pointer;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.3s;
}

.perfil-usuario:hover{
    box-shadow: inset 400px 0 0 0 #024219;
    color: #fff;
}

@media (max-width: 991px) {
    .navbar-nav{
        gap: 10px;
    }
    
    .perfil-usuario{
        margin-top: 20px;
    }

    .container-fluid{
        position: absolute;
    }
}
/* FIM NAVBAR */
